[submodule "core/Clash.Meta"]
	path = core/Clash.Meta
	url = git@github-loch:Lochinemak/Clash.Meta.git
	branch = FlClash
[submodule "plugins/flutter_distributor"]
	path = plugins/flutter_distributor
	url = git@github-loch:Lochinemak/flutter_distributor.git
	branch = FlClash
[submodule "plugins/tray_manager"]
	path = plugins/tray_manager
	url = git@github-loch:Lochinemak/tray_manager.git
	branch = main


